@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-padding-top: rem;
    scroll-behavior: smooth;

}
:root{
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #29fd53;
    --green-color: #4CAF50;
    --light-green-color: #c0eb7b;
    --yellow: #decb70;
    --light-orange: #113701;
}
body{
    min-height: 100vh;
    background: var(--bg-color);
    background: var(--text-color);
}.heading{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.heading h1{
    font-size: 1.6rem;
    font-weight: 600;
}
.heading span{
    color: var(--green-color);
}
.sayuran{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}
/*.see-all-btn {
    background-color: #ddd;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.btn {
    padding: 0.6rem;
    background:var(--green-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 5rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
    column-gap: 00.5rem;
    max-width: 160px;
}
.btn .bx{
    padding: 4px;
    background: var(--text-color);
    color: var(--green-color);
    border-radius: 1rem;
    font-size: 20px;
    margin: auto;;
}
.btn:hover{
    background: var(--text-color);
    transition: 0.2s ease;
}*/
.categories-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
    /*max-width: 1000px;  
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;*/
}

.categories-container .box {
    width: 100%;
    box-shadow: 1px 2px 11px 4px rgb(13 55 54 / 15%);
    border-radius: 1.5rem;
    position: relative;
    /*position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 200px;
    padding: 20px;
    border-radius: 1.5rem;
    background-color: #fff; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  */
}

.categories-container .box img {
    width: 100%;
    height: 130px;
    object-fit: contain;
    object-position: center;
    /*height: 100px;  
    width: 100%;
    max-width: 150px;  
    object-fit: contain;
    object-position: center;*/
}
.categories-container .box h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0.5rem;
    color: var(--light-orange);
}
.categories-container .box span{
    font-size: 13px;
    font-weight: 500;
    color: var(--light-orange)
    /*margin-bottom: 1rem;*/
}
/*.categories-container .box .bx{
    padding: 10px;
    background: var(--green-color);
    border-radius: 5rem;
    margin-top: 2rem;
    position: absolute;
    bottom: -8px;
    display: none;
}
.categories-container .box .bx:hover{
    background:#decb70;
    transition: 0.2s all linear;
}
.categories-container .box:hover .bx{
    display: block;
    transition: 0.2s all linear;
}*/
.box1{
    background: #d4fcbe;
}
.box2{
    background: #d4fcbe;
}
.box3{
    background: #e1b4b4;
}
.categories-container .box .price{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.5rem;
    color: var(--light-orange)
    
}